<h1> Home Page </h1>

<% if current_user %>
  Welcome <%= current_user.email %>!<br>
  <%= link_to "Sign Out", signout_path %><br>
  <%= link_to "Get my Contacts", contacts_path %><br>
<% else %>
  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>