<h1>My Contacts</h1>
<%= link_to "Sign Out", signout_path %>

<% @mycontacts.each do |c| %>
<p> Name: <%= c.xpath('xmlns:title').text %>  Email: <%= c.xpath('gd:email/@address').text %> <%= link_to "Update Contact" %></p> 

<% end %>

<%= will_paginate @mycontacts %>

